.fa.pw-toggle:hover{
	cursor: pointer;
}
.input-pw-toggle{
	border: 0;
	background: none;
}
.control-label {
 	margin-right: 15px;
 }
.tab-search {
	margin: -4px 165px -55px 50px;
}
.carrier-btn {
	margin-bottom: -50px;
}
a, a:hover, a:focus {
    color: #337ab7;
}
.sep.active + .tab-search {
	display: none;
}